main {
	.svg-1 {
		margin-top: 15rem;
	}
	.svg-2 {
		transform: rotate(180deg);
	}
	.reservas {
		width: 80%;
		height: 23rem;
		margin: 0 auto;
		background-color: $color-primario;
		position: relative;
		bottom: 20px;
		max-width: 30rem;
		z-index: 0;

		form {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			input {
				margin: 0 25%;
			}

			p {
				&:first-child {
					margin-top: 2rem;
				}
				display: block;
				width: 100%;
				text-align: center;
				color: $color-blanco;
				font-family: $tipografia-roboto;
			}
			.reservas__personas {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 1rem;
				margin-top: 1rem;
				width: 100%;

				.reservas__personas--adultos {
					display: flex;
					flex-wrap: wrap;
					margin-left: 0.8rem;
					justify-content: center;

					input {
						margin: 0 25%;
					}
				}
				.reservas__personas--pequeños {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;

					input {
						margin: 0 25%;
					}
				}
			}
			.reservas__enviar {
				background-color: $color-secundario;
				color: #ffffff;
				font-family: $tipografia-roboto;
				border: none;
				width: 7rem;
				height: 3rem;
				position: relative;
				top: 60px;
				margin: 0 auto;
			}
		}
	}
	.relax {
		overflow: hidden;

		.relaxContainer {
			background-image: url("C:/Users/israe/OneDrive/Escritorio/PROYECTOS/hotel-philidor/src/static/img1-relax.jpg");
			background-position: bottom;
			background-size: cover;
			background-repeat: no-repeat;
			clip-path: polygon(100% 23%, 100% 75%, 0 90%, 0 40%);
			background-attachment: fixed;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 60rem;
			h2 {
				font-family: $tipografia-roboto;
				color: $color-blanco;
				position: relative;
				top: 60px;
			}
		}
	}

	.habitaciones {
		margin-top: 5rem;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		overflow: hidden;

		.habitaciones__titulo {
			width: 100%;
			height: 5rem;
			background-color: $color-primario;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $color-blanco;
			font-family: $tipografia-roboto;
			font-weight: 100;
			letter-spacing: 6px;
			text-align: center;
		}
		.habitaciones__habitacion {
			padding: 2.5rem 1rem;
			margin-top: 5rem;
			width: 80%;
			max-width: 50rem;
			display: flex;
			border-radius: 25px;
			justify-content: center;
			background-color: $color-blanco;

			flex-wrap: wrap;
			box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
				0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
				0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
			img {
				width: 80%;
			}

			.habitacion__precio {
				background-color: $color-secundario;
				width: 80%;
				height: 5rem;
				color: $color-blanco;
				font-family: $tipografia-roboto;
				display: flex;
				justify-content: space-around;
				align-items: center;
			}
		}
	}

	.restaurante {
		margin-top: 5rem;
		.restaurante__titulo {
			width: 100%;
			height: 5rem;
			background-color: $color-primario;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $color-blanco;
			font-family: $tipografia-roboto;
			font-weight: 100;
			letter-spacing: 6px;
		}
		.restaurante__contenedor {
			margin-top: 5rem;
			perspective: 1500px;
			.restaurante__card1 {
				box-shadow: inset -20px -20px 1px red;
				transition: 0.7s ease;
				transform-style: preserve-3d;
				position: relative;
				color: $color-blanco;
				font-family: $tipografia-roboto;
				width: 90%;
				height: 30rem;
				background-color: $color-blanco;
				border-radius: 15px;
				margin: 5rem auto;
				display: flex;
				align-items: center;
				text-align: center;

				justify-content: center;
				box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
					0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
					0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
				h5 {
					background-color: $color-primario;
					padding: 1rem;
					letter-spacing: 4px;
				}
			}
			.restaurante__card {
				box-shadow: inset -20px -20px 1px red;
				transition: 0.7s ease;
				transform-style: preserve-3d;
				position: relative;
				color: $color-blanco;
				font-family: $tipografia-roboto;
				width: 90%;
				height: 30rem;
				background-color: $color-blanco;
				border-radius: 15px;
				margin: 5rem auto;
				display: flex;
				align-items: center;
				text-align: center;

				justify-content: center;
				box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
					0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
					0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);

				&:hover {
					transform: rotateY(180deg);
					transition-duration: 3s;
					cursor: pointer;
				}
				h5 {
					background-color: $color-primario;
					padding: 1rem;
					letter-spacing: 4px;
				}
			}
			.restaurante__card--vinos {
				.front {
					background-image: url("./static/vinos.jpg");
					background-size: cover;
					background-position: center;
					width: 100%;
					height: 100%;
				}
			}
			.restaurante__card--platos {
				.front {
					background-image: url("./static/platos.jpg");
					background-size: cover;
					background-position: center;
					width: 100%;
					height: 100%;
				}
			}
			.restaurante__card--postres {
				.front {
					background-image: url("./static/postres.jpg");
					background-size: cover;
					background-position: center;
					width: 100%;
					height: 100%;
				}
			}
			.front,
			.atras {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 15px;
				.floritura {
					width: 50%;
					color: $color-blanco;
					margin: 0 auto;
					max-width: 15rem;
				}
				.floritura2 {
					width: 50%;
					transform: rotate(180deg);
					margin: 1rem auto;
					max-width: 15rem;
				}
			}
			.atras {
				transform: rotateY(180deg);
				backface-visibility: hidden;
				background-color: $color-primario;
				display: grid;
				grid-template-columns: 1;
				align-items: center;
				li {
					display: block;
					font-size: 1.5rem;
				}
			}
			.front {
				backface-visibility: hidden;
			}
		}
		.CONTENEDOR2 {
			display: none;
			.restaurante__contenedor2 {
				margin-top: 5rem;

				.vinos {
					width: 95%;
					height: 25rem;
					display: flex;
					margin: 0 auto;
					box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
						0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
						0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
					border-radius: 15px;
					margin-bottom: 3rem;

					.foto {
						background-image: url("./static/vinos.jpg");
						background-size: cover;
						background-position: center;
						width: 50%;
						border-radius: 15px 0 0 15px;
						h5 {
							background-color: $color-primario;
							padding: 1rem;
							letter-spacing: 4px;
							width: 80%;
							color: $color-blanco;
							font-family: $tipografia-roboto;
							letter-spacing: 7px;
						}
					}
					.carta {
						width: 50%;
						background-color: $color-primario;
						border-radius: 0 15px 15px 0;
						color: $color-blanco;
						text-align: center;
						list-style: none;
						display: grid;
						grid-template-columns: 1;

						.floritura {
							width: 50%;

							margin: 1rem auto;
							max-width: 15rem;
						}
						.floritura2 {
							width: 50%;
							transform: rotate(180deg);
							margin: 1rem auto;
							max-width: 15rem;
						}
					}
				}
				.platos {
					width: 95%;
					height: 25rem;
					display: flex;
					margin: 0 auto;
					box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
						0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
						0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
					border-radius: 15px;
					margin-bottom: 3rem;
					.foto {
						background-image: url("./static/platos.jpg");
						background-size: cover;
						background-position: center;
						width: 50%;
						border-radius: 15px 0 0 15px;
						h5 {
							background-color: $color-primario;
							padding: 1rem;
							letter-spacing: 4px;
							width: 80%;
							color: $color-blanco;
							font-family: $tipografia-roboto;
							letter-spacing: 7px;
						}
					}
					.carta {
						width: 50%;
						background-color: $color-primario;
						border-radius: 0 15px 15px 0;
						color: $color-blanco;
						text-align: center;
						list-style: none;
						display: grid;
						grid-template-columns: 1;

						.floritura {
							width: 50%;

							margin: 1rem auto;
							max-width: 15rem;
						}
						.floritura2 {
							width: 50%;
							transform: rotate(180deg);
							margin: 1rem auto;
							max-width: 15rem;
						}
					}
				}
				.postres {
					width: 95%;
					height: 25rem;
					display: flex;
					margin: 0 auto;
					box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
						0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
						0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
					border-radius: 15px;
					margin-top: 3rem;
					.foto {
						background-image: url("./static/postres.jpg");
						background-size: cover;
						background-position: center;
						width: 50%;
						border-radius: 15px 0 0 15px;
						h5 {
							background-color: $color-primario;
							padding: 1rem;
							letter-spacing: 4px;
							width: 80%;
							color: $color-blanco;
							font-family: $tipografia-roboto;
							letter-spacing: 7px;
						}
					}
					.carta {
						width: 50%;
						background-color: $color-primario;
						border-radius: 0 15px 15px 0;
						color: $color-blanco;
						text-align: center;
						list-style: none;
						display: grid;
						grid-template-columns: 1;

						.floritura {
							width: 50%;

							margin: 1rem auto;
							max-width: 15rem;
						}
						.floritura2 {
							width: 50%;
							transform: rotate(180deg);
							margin: 1rem auto;
							max-width: 15rem;
						}
					}
				}
			}
		}
	}

	.actividades {
		background-color: $color-blanco;
		.slider {
			h6 {
				position: absolute;
				padding: 1.5rem;
				background-color: $color-primario;
				color: $color-blanco;
				font-family: $tipografia-roboto;
				max-width: 100%;
			}
			width: 95%;
			margin: auto;
			overflow: hidden;

			ul {
				padding: 0;
				display: flex;
				width: 500%;
				animation: cambio 15s infinite;
				margin: 5rem 0;
			}
			li {
				list-style: none;
				width: 100%;
				height: 25rem;
			}
			img {
				width: 100%;
				height: 25rem;
				object-fit: cover;
				object-position: center;
			}
			@keyframes cambio {
				0% {
					margin-left: 0;
				}
				10% {
					margin-left: 0;
				}
				15% {
					margin-left: -100%;
				}
				35% {
					margin-left: -100%;
				}
				40% {
					margin-left: -200%;
				}
				60% {
					margin-left: -200%;
				}
				65% {
					margin-left: -300%;
				}
				85% {
					margin-left: -300%;
				}
				90% {
					margin-left: -400%;
				}
				100% {
					margin-left: -400%;
				}
			}
		}
	}
	.mapa {
		margin-top: 15rem;
		h5 {
			color: $color-blanco;
			padding: 1.5rem;
			background-color: $color-primario;
			font-family: $tipografia-roboto;
			.icono {
				font-size: 2.5rem;
				margin-left: 95%;
			}
		}
		#map {
			z-index: 10;
			height: 25rem;
			width: 90%;
			margin: 0 auto;
			margin-top: 10rem;
			border-radius: 15px;
			box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
				0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
				0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
		}
	}
	@media (max-width: 700px) {
		.slider {
			h6 {
				width: 8rem;
			}
		}
		.mapa {
			h5 {
				text-align: center;
				i {
					display: none;
				}
			}
		}
	}
	@media (min-width: 450px) {
	}
	@media (min-width: 650px) {
		.restaurante__contenedor {
			display: none;
		}
		#restaurante {
			.CONTENEDOR2 {
				display: block;
			}
		}
	}
	@media (min-width: 900px) {
	}
	@media (min-width: 1200px) {
		.reservas {
			width: 90%;
			max-width: none;
			height: 5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 2rem;

			form {
				display: flex;
				flex-wrap: nowrap;
				justify-content: center;
				align-items: center;
				gap: 1.5rem;
				p:first-child {
					margin-top: 0;
				}
				input {
					margin: 0;
				}
				label {
					margin: 0;
				}
				p {
					width: auto;
					margin: 0 auto;
				}
				.reservas__personas {
					margin: 0;
					gap: 1rem;

					.reservas__personas--adultos {
						flex-wrap: nowrap;
						align-items: center;
						margin: 0;
						input {
							margin: 0;
						}
						p {
							margin: 0 10px;
						}
					}
					.reservas__personas--pequeños {
						flex-wrap: nowrap;
						align-items: center;

						margin: 0;
						input {
							margin: 0;
						}
						p {
							margin: 0 10px;
						}
					}
				}
				.reservas__enviar {
					position: static;
					width: 15rem;
				}
			}
		}
	}
	@media (min-width: 2000px) {
	}
}
