/** 
*!Tipografias -------------------------------------------------------------------------------------------------------
**/

$tipografia-greatVibes: "Great Vibes", cursive;
$tipografia-roboto: "Roboto", sans-serif;

/** 
*!Colores -------------------------------------------------------------------------------------------------------
**/
$color-blanco: #ffffff;
$color-blanco2: #ddd9d9;
$color-negro: #000000;
$color-negro2: #292828;
$color-primario: #0b275e;
$color-primario2: #0c2d6e;
$color-secundario: #0a1931;
$color-secundario2: #040a14;
$color-separacion: #cac7c7;

/** 
*!Tamaño Titulos -------------------------------------------------------------------------------------------------------
**/

$h1: 4rem;
$h2: 3.5rem;
$h3: 3rem;
$h4: 2.5rem;
$h5: 2rem;
$h6: 1.5rem;
$p: 1rem;

/** 
*!Tamaño Iconos -------------------------------------------------------------------------------------------------------
**/

$tamaño-iconos: 1.5rem;
